*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f8f9fc;
color:#222;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#082b5b;
color:white;
position:sticky;
top:0;
z-index:1000;
}

.logo-container{
display:flex;
align-items:center;
gap:10px;
}

.logo-container img{
width:50px;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:500;
}

.hero{
height:100vh;
background:linear-gradient(
135deg,
#082b5b,
#0f4ea3
);
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
padding:30px;
}

.hero-logo{
width:180px;
margin-bottom:20px;
}

.hero h1{
font-size:3rem;
margin-bottom:20px;
}

.hero p{
max-width:800px;
margin:auto;
font-size:1.1rem;
}

.btn{
display:inline-block;
margin-top:25px;
padding:14px 35px;
background:#f5c542;
color:#082b5b;
text-decoration:none;
font-weight:600;
border-radius:40px;
}

.section{
padding:90px 10%;
text-align:center;
}

.section h2{
margin-bottom:40px;
font-size:2.5rem;
color:#082b5b;
}

.grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
transition:0.4s;
}

.card:hover{
transform:translateY(-10px);
}

.dark{
background:#082b5b;
}

.dark h2{
color:white;
}

.features{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.features div{
padding:30px;
background:white;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.contact{
background:#082b5b;
color:white;
padding:80px 10%;
text-align:center;
}

.contact form{
max-width:600px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

.contact input,
.contact textarea{
padding:15px;
border:none;
border-radius:10px;
}

.contact button{
padding:15px;
background:#f5c542;
border:none;
border-radius:10px;
font-weight:bold;
cursor:pointer;
}

footer{
background:#061f40;
color:white;
text-align:center;
padding:20px;
}